.flex-content {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 20%;
	border: solid 0.0625rem #000;
	justify-content: flex-start;
	margin: 1.25rem;
}

.item-img {
	min-width: 80px;
	height: 140px;
	z-index: -1;
}

.item-name {
	padding: 0.5rem;
}

.item-price {
	padding: 0.5rem;
}